
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}


.header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 24px;
}
.back-button {
    color: #fcf8fb; 
    font-size: 22px;
    text-decoration: none; 
    padding: 10px 10px; 
    background-color: #4682B4; 
    border-radius: 5px; 
    position: absolute; 
    top: 0;
    left: 0; 
    margin: 10px; 
}

.back-button:hover {
    background-color: #36454F;  
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.section h2 {
    margin-bottom: 10px;
    color: #1e3a8a;
    border-bottom: 2px solid #1e3a8a;
    padding-bottom: 5px;
}


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #fff;
}

table th,
table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #e0f2ff;
    font-weight: bold;
    color: #1e3a8a;
}

table tr:nth-child(even) {
    background-color: #f2f9ff;
}

table tr:hover {
    background-color: #d1e7ff;
}

/* Action Icons */
.fa-pen-to-square {
    color: #00ffb3;
    cursor: pointer;
}

.fa-trash {
    color: #ff0000;
    cursor: pointer;
}



/* Bell Icon */
.bell-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #3a87c6; 
    cursor: pointer;
    z-index: 1000;

}
/* Notification Menu */
.notification-menu {
    position: fixed; 
    top: 0; 
    right: -300px; 
    height: 100vh; 
    background-color: #fff;
    border-left: 1px solid #ccc;
    box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    z-index: 999;
    transition: right 0.3s ease; 
}
/* Notification Badge */
.notification-badge {
    display: none; /* Hidden by default */
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

.notification-menu.active {
    right: 0; 
}

.btn-approve,
.btn-reject {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-approve {
    background-color: #3e8dd6;
    color: white;
}

.btn-approve:hover {
    background-color: #3e8dd6;
}

.btn-reject {
    background-color: #9dcdec; 
    color: white;
}

.btn-reject:hover {
    background-color: #9dcdec; 
}